<div class="header">
	<div class="header-meta-group">
		<a>glossify</a>
	</div>
</div>

<div class="alert-div"></div>

<div class="page-container">

	{{#each pages}}

		<div class="page {{this}}-page">
		</div>

	{{/each}}

</div>

<div class="modal-div"></div>