<div class="viewer">

	<div class="header">
		<div class="header-group-left">
			<div class="back-btn"></div>
		</div>
		<div class="header-group-center">
			<a>glossify</a>
		</div>
		<div class="header-group-right">
		</div>
	</div>

	<div class="alert-div"></div>

	<div class="page-container">

		{{#each pages}}

			<div class="page {{this}}-page">
			</div>

		{{/each}}

	</div>

</div>

<div class="modal-div"></div>