<ul>
	{{#each boxes}}
		<li>
			<div class="box-div" data-index="{{index}}">
				<div class="box-group-left">
					<div class="box-group-left-content">
						{{sample}}
					</div>
				</div>
				<div class="box-group-right">
					<div class="box-group-right-content">
						{{percent}}%
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ul>