<ul>
	{{#each boxes}}
		<li>
			<div class="box-div" data-index="{{index}}">
				<div class="box-group-left">
					{{sample}}
				</div>
				<div class="box-group-right">
					{{percent}}%
				</div>
			</div>
		</li>
	{{/each}}
</ul>