<div class="content">

	<div class="content-meta-group">

		<div class="content-group-1">
			Learn vocabulary in any language
		</div>

		<div class="content-group-2">
			 Systematically learn thousands of new words
		</div>

		<div class="content-group-3">
			<div class='error'></div>
			<div><input id="email-input" type="text" placeholder="email"/></div>
			<div><input id="password-input" type="password" placeholder="password"/></div>
			<a>
				<div class="facebook-signup-btn login-btn">
					Sign in
				</div>
			</a>
		</div>

		<div class="content-group-4">
			or
		</div>

		<div class="content-group-5">
			<a>
				<div class="facebook-signup-btn signup-btn">
					{{#if lockdown}}
						Request an account
					{{else}}
						Create an account
					{{/if}}
				</div>
			</a>
		</div>

	</div>
</div>