<div class="nav-header">
	<div class="nav-header-1">
		<div class="arrow-btn-left">
			<div class="arrow-btn-bg">
				<img class="arrow-img" src="img/icons/left15.png" />
			</div>
		</div>
	</div>
	<div class="nav-header-2">
		<div class="interval-text">
		</div>
	</div>
	<div class="nav-header-3">
		<div class="arrow-btn-right">
			<div class="arrow-btn-bg">
				<img class="arrow-img" src="img/icons/right11.png" />
			</div>
		</div>
	</div>
</div>
<div class="box-list-container">
	{{#each sections}}
		<div class="box-list box-list-{{this}}">
		</div>
	{{/each}}
</div>