<div class="content">
	<div class="nav-header">
		<div class="arrow-btn-left">
			<div class="arrow-btn-bg">
				<img class="arrow-img" src="img/icons/left15.png" />
			</div>
		</div>
		<div class="interval-text">
		</div>
		<div class="arrow-btn-right">
			<div class="arrow-btn-bg">
				<img class="arrow-img" src="img/icons/right11.png" />
			</div>
		</div>
	</div>
	<div class="box-list-container">
		{{#each sections}}
			<div class="box-list box-list-{{this}}">
			</div>
		{{/each}}
	</div>
</div>

<div class="footer">
</div>