<div class='popup-content'>
	{{#if unknown}}
		unknown phrase
	{{else}}
		<div class='base'>
			{{base}}
		</div>
		<div class='pron'>
			{{pron}}
		</div>
		<div class='def'>
			{{{tx_summary}}}
		</div>
	{{/if}}
</div>