<div class="content">

	<div class="content-meta-group">

		<div class="content-group-1">
			Create an account
		</div>

		<div class="content-group-2">
			Enter your email and create a password
		</div>

		<div class="content-group-3">
			<div class='error'></div>
			<div><input class="email-input" type="text" placeholder="email"/></div>
			<div><input class="password-input-1" type="password" placeholder="password"/></div>
			<div><input class="password-input-2" type="password" placeholder="confirm password"/></div>
			<a>
				<div class="facebook-signup-btn signup-btn">
					Create account
				</div>
			</a>
		</div>

	</div>
</div>