body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
}

.app-container {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    margin: auto;
}

.splash {
    background-color: #00ffff;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.page {
    position: absolute;
    overflow-y: hidden;
}

.page-off {
    visibility: hidden;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}