<!doctype html>

<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>TenK</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">

		<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.query-object.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/tenk.css') }}" />
		
		<link rel="stylesheet" href="{{ url_for('static', filename='js/jquerymobile/jquery.mobile-1.4.5.css') }}" />
		<script src="{{ url_for('static', filename='js/jquerymobile/jquery.mobile-1.4.5.min.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}" />
		
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>

</html>