{% extends "mobile-base.html" %}

{% block body %}

	<script type="text/javascript" src="{{ url_for('static', filename='js/overview.js') }}"></script>

	<div data-role="page" id="overview">
	    <div data-role="header">
	        <h1>Overview</h1>
	    </div>

	    <div data-role="main" class="overview-head ui-content">
            French
        </div>

        <div class="overview-list ui-content">
        	{% for r in range(0, 25) %}
        		<div class="overview-row">
        			{% for c in range(0, 4) %}
        				{% set tile_id = r * 4 + c + 1 %}
        				<a class="overview-tile-link" data-tile-id="{{ tile_id }}">
	        				<div class="overview-tile {{ 'overview-tile-left' if c == 0 }}">
	        					<div class="overview-tile-text">{{ tile_id }}</div>
	        				</div>
	        			</a>
        			{% endfor %}
        		</div>
        	{% endfor %}
        </div>
	</div>

{% endblock %}