{% extends "base.html" %}

{% block body %}

	<div class="phrases-page">

		<div class="group-1">
			<form action="/manage/{{ lang }}/phrases" method="GET">
				show phrases
				<input name="min-phrase" class="min-max-input" type="text" value={{ min_phrase }} />
				to
				<input name="max-phrase" class="min-max-input" type="text" value={{ max_phrase }} />
				<input type="submit" value="Reload" />
			</form>
		</div>

		<div class="group-2">

			<div class="data-head">
				<div class="data-head-content">
					<div class="small-column">
						Rank
					</div>
					<div class="large-column">
						Phrase
					</div>
					<div class="extra-column">
						Has translation?
					</div>
					<div class="extra-column">
						Has section?
					</div>
				</div>
			</div>

			{% for phrase_count in phrase_counts %}
				<div class="data-row">
					<div class="data-row-content">
						<div class="small-column">
							{{ phrase_count['rank'] }}
						</div>
						<div class="large-column">
							<a href="/manage/{{ lang }}/phrase/{{ phrase_count['base'] }}">
								{{ phrase_count['base'] }}
							</a>
						</div>
						<div class="extra-column">
							{% if phrase_count.has_txs %}
								<div class="circle-mark"></div>
							{% endif %}
						</div>
						<div class="extra-column">
							{% if phrase_count.has_section %}
								<div class="circle-mark"></div>
							{% endif %}
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			{% endfor %}

		</div>

	</div>

{% endblock %}